/* Error: expected "{".
 *    ,
 * 14 | 'Montserrat', sans-serif;
 *    |                         ^
 *    '
 *   scss\_vars.scss 14:25  @import
 *   scss\main.scss 3:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 14 \2502  'Montserrat', sans-serif;\d\a    \2502                          ^\a    \2575 \a   scss\\_vars.scss 14:25  @import\a   scss\\main.scss 3:9     root stylesheet";
}
