@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;700&display=swap");
.contenedor-envio {
  display: flex;
  justify-content: center;
}
.contenedor-envio .header-envio {
  background-color: #BF2A2A;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  height: 100%;
  width: 100%;
}

.header .cont-header {
  display: flex;
  justify-content: space-between;
}
.header .cont-header .logo-img {
  display: flex;
  justify-content: center;
  width: 20%;
}
.header .cont-header .logo-img #brand {
  width: 60%;
}
.header .cont-header #search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.header .cont-header #search-bar .d-flex {
  width: 100%;
}
.header .cont-header #search-bar .d-flex #barra {
  border: black 1px solid;
}
.header .cont-header #search-bar .d-flex #btn-outline-success {
  border: #BF2A2A 1px solid;
  --bs-btn-color: rgba(0, 0, 0, 0.644);
  --bs-btn-border-color: rgba(0, 0, 0, 0.644);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #BF2A2A;
  --bs-btn-hover-border-color: #BF2A2A;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #BF2A2A;
  --bs-btn-active-border-color: #BF2A2A;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #BF2A2A;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #BF2A2A;
  --bs-gradient: none;
}

.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}
.iconos .contenedor-icon {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.iconos .contenedor-icon .cont-icon {
  display: flex;
  justify-content: center;
}
.iconos .contenedor-icon .cont-icon .img-logos {
  width: 28%;
}
@media screen and (max-width: 992px) {
  .iconos .contenedor-icon .cont-icon .img-logos {
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  .iconos .contenedor-icon .cont-icon .img-logos {
    width: 55%;
  }
}

.navbar .container-fluid .navbar-collapse {
  justify-content: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  padding-right: 90px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.contenedor-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contenedor-navigation .cont-pages {
  padding-top: 20px;
}
.contenedor-navigation .cont-pages nav .pagination .page-item {
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 5%;
}

.contenedor-info {
  background-color: #03658C;
}
.contenedor-info .flex {
  display: flex;
  justify-content: center;
}
.contenedor-info .flex .grid-1 {
  width: 100%;
  display: grid;
}
.contenedor-info .flex .grid-1 .img-contenedor {
  display: flex;
  justify-content: center;
}
.contenedor-info .flex .grid-1 .img-contenedor #cuotas,
.contenedor-info .flex .grid-1 .img-contenedor #envio,
.contenedor-info .flex .grid-1 .img-contenedor #metodos {
  object-fit: contain;
  width: 60%;
}
.contenedor-info .flex .grid-template-columns-rows-1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.contenedor-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10 0%;
  padding-left: 40px;
}
.contenedor-grid .grid {
  display: grid;
  width: 90%;
}
.contenedor-grid .grid .grids {
  display: flex;
  justify-content: center;
}
.contenedor-grid .grid .grids .slide-content .card {
  width: 90%;
  height: 500px;
  border-radius: 2%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.45);
}
@media screen and (max-width: 576px) {
  .contenedor-grid .grid .grids .slide-content .card {
    height: 470px;
  }
}
.contenedor-grid .grid .grids .slide-content .card .image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-grid .grid .grids .slide-content .card .image-content .card-image {
  display: flex;
  justify-content: center;
}
.contenedor-grid .grid .grids .slide-content .card .image-content .card-image .foto-producto {
  padding-top: 25px;
  object-fit: contain;
  width: 50%;
}
.contenedor-grid .grid .grids .slide-content .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-grid .grid .grids .slide-content .card .card-content .nombre-marca {
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
.contenedor-grid .grid .grids .slide-content .card .card-content .nombre-producto {
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}
.contenedor-grid .grid .grids .slide-content .card .texto-descripcion {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contenedor-grid .grid .grids .slide-content .card .texto-descripcion .descripcion {
  width: 85%;
}
.contenedor-grid .grid .grids .slide-content .card .texto-descripcion .descripcion .descripcion-producto {
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  text-align: center;
}
.contenedor-grid .grid-template-columns-rows {
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 2fr;
  row-gap: 30px;
}
@media screen and (max-width: 576px) {
  .contenedor-grid .grid-template-columns-rows {
    grid-template-columns: 1fr;
  }
}

.contenedor-grid-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 80%;
}
.contenedor-grid-producto .grid-producto {
  display: grid;
  row-gap: 40px;
}
.contenedor-grid-producto .grid-producto .grids-producto {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto {
    width: 70%;
  }
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto {
  width: 90%;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto {
  width: 100%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto {
  display: flex;
  justify-content: center;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #lancome,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #gel-avena,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #cerave,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #cetaphil,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #neutrogena,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #acf-limpiador,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #roche {
  width: 55%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #loreal-limpador,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #vichy {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #eucerin-s,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #loreal-s {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #ruby {
  width: 53%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #garnier-s {
  width: 54%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #neutrogena-s {
  width: 56%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #serum-bio,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #veganis,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #cetaphil-s,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #kalo {
  width: 60%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #labial-nyx,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #labial-mac,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #labial-lancome {
  width: 57%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #labial-nyx-2 {
  width: 57%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #gloss-maybelline {
  width: 57%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #lipglass,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #labial-mac-2 {
  width: 61%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-mascara,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-labial,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-mascara-2 {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-labial-2,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-corrector {
  width: 56%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-rubor {
  width: 57%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mascara-maybelline-waterproof {
  width: 58%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mac-polvo {
  width: 51%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-too-faced,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-natasha,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-nars,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-clarins,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #sombra-clarins,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #sombra-rem,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-huda-2 {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-anastasia {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #paleta-huda {
  width: 83%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #base-guerlain,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #mist-rare,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #corrector-tarte,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #polvo-huda,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #spray-too-faced,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #rubor-too-faced,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #stick-fenty,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #iluminador-rare {
  width: 50%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #rubor-benefit {
  width: 46%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #dr-jart-2,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #bruma-roche,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #bruma-eucerin,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #idraet-1,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #idraet-2 {
  width: 55%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #dr-jart,
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #pixi {
  width: 61%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #bruma-bio {
  width: 51%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .image-content-producto .card-image-producto #idraet-3 {
  width: 53%;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .card-content-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .card-content-producto .nombre-marca-producto {
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .card-content-producto .nombre-producto-producto {
  width: 90%;
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .texto-descripcion .precio-producto-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .texto-descripcion .precio-producto-producto .precio-producto {
  color: black;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .texto-descripcion .precio-producto-producto .cantidad-cuotas {
  color: #f8d58a;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.contenedor-grid-producto .grid-producto .grids-producto .slide-content-producto .card-producto .separador {
  border: none;
}
.contenedor-grid-producto .column-row-producto {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr);
}
@media screen and (max-width: 992px) {
  .contenedor-grid-producto .column-row-producto {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .contenedor-grid-producto .column-row-producto {
    grid-template-columns: 1fr;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

section .cortes {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  padding-top: 30px;
}
@media screen and (max-width: 576px) {
  section .cortes {
    font-weight: 500;
  }
}
section .lineas {
  border-top: 1px solid rgba(92, 90, 90, 0.493);
  height: 2px;
  width: 100%;
  padding: 0;
  margin: 10px auto 0 auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .caja-fotos .img-grid .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .caja-fotos .img-grid .container .row .col {
    display: flex;
    justify-content: center;
  }
}
.caja-fotos .img-grid .container .row .col .img-info {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .caja-fotos .img-grid .container .row .col .img-info {
    width: 70%;
    padding: 10px;
  }
}

.caja-suscripcion {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}
.caja-suscripcion .cont-suscripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83%;
  padding-top: 30px;
  background-color: #03658C;
}
.caja-suscripcion .cont-suscripcion .texto-suscripcion {
  width: 52%;
  padding-left: 40px;
  color: white;
}
.caja-suscripcion .cont-suscripcion .texto-suscripcion h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
@media screen and (max-width: 576px) {
  .caja-suscripcion .cont-suscripcion .texto-suscripcion h1 {
    font-size: 1.5em;
  }
}
.caja-suscripcion .cont-suscripcion .texto-suscripcion h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
@media screen and (max-width: 576px) {
  .caja-suscripcion .cont-suscripcion .texto-suscripcion h2 {
    font-size: 1.2em;
  }
}
.caja-suscripcion .cont-suscripcion .form-suscripcion {
  width: 40%;
  display: flex;
  align-items: center;
}
.caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion .row-form {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion .row-form {
    flex-direction: column;
  }
}
.caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion .row-form .mb-3 #exampleInputName1 {
  width: 70%;
}
.caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion .row-form .mb-3 #exampleInputEmail1 {
  width: 70%;
}
.caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion #btn-primary {
  width: 20%;
  --bs-btn-color: #fff;
  --bs-btn-bg: #BF2A2A;
  --bs-btn-border-color: #BF2A2A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #D996A7;
  --bs-btn-hover-border-color: #D996A7;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #D996A7;
  --bs-btn-active-border-color: #D996A7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #D996A7;
  --bs-btn-disabled-border-color: #D996A7;
}
@media screen and (max-width: 576px) {
  .caja-suscripcion .cont-suscripcion .form-suscripcion .suscripcion #btn-primary {
    width: 50%;
  }
}

.ruta-exploracion {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}
.ruta-exploracion h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.ruta-exploracion h2 {
  font-size: 1em;
  font-weight: 400;
}

.menu-vertical {
  padding-top: 30px;
  width: 18%;
  padding-left: 30px;
}
@media screen and (max-width: 992px) {
  .menu-vertical {
    width: 22%;
  }
}
@media screen and (max-width: 576px) {
  .menu-vertical {
    width: 40%;
  }
}
.menu-vertical .side-bar ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  line-height: 16px;
}
.menu-vertical .side-bar ul li:hover ul {
  height: auto;
  padding: 5px;
}
.menu-vertical .side-bar ul ul {
  height: 0px;
  overflow: hidden;
  transition: 0.4s;
}
.menu-vertical .side-bar ul a {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
}

.div-header .cortes-pagina {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.align {
  display: flex;
  justify-content: center;
}
.align .error {
  display: flex;
  flex-direction: row;
}
.align .error .error-pagina {
  width: 50%;
  object-fit: contain;
}
.align .error .error-1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 80px;
}
.align .error .error-1 h1 {
  font-weight: 700;
  font-size: 5em;
  color: #BF2A2A;
}
@media screen and (max-width: 576px) {
  .align .error .error-1 h1 {
    font-size: 3em;
  }
}
.align .error .error-1 h2 {
  font-weight: 600;
  font-size: 2.5em;
  color: #BF2A2A;
}
@media screen and (max-width: 576px) {
  .align .error .error-1 h2 {
    font-size: 1.8em;
  }
}
.align .error .error-1 h3 {
  font-size: 1.8em;
}
@media screen and (max-width: 576px) {
  .align .error .error-1 h3 {
    font-size: 1.2em;
  }
}
.align .error .error-1 .btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #BF2A2A;
  --bs-btn-border-color: #BF2A2A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e26565;
  --bs-btn-hover-border-color: #e26565;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e26565;
  --bs-btn-active-border-color: #e26565;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e26565;
  --bs-btn-disabled-border-color: #e26565;
}
@media screen and (max-width: 576px) {
  .align .error .error-1 .btn-secondary {
    width: 50%;
    font-size: 0.8em;
  }
}

.caja-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(243, 243, 243);
}
.caja-footer .box-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 25px;
}
.caja-footer .box-footer .nosotros {
  width: 31%;
  padding-right: 40px;
}
.caja-footer .box-footer .nosotros #nosotros {
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
}
.caja-footer .box-footer .nosotros #nosotros-texto {
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: left;
}
.caja-footer .box-footer .links {
  width: 31%;
  padding-right: 40px;
}
.caja-footer .box-footer .links #links {
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
}
.caja-footer .box-footer .links ul {
  text-align: left;
  list-style: none;
}
.caja-footer .box-footer .links ul li a {
  text-decoration: none;
  color: black;
}
.caja-footer .box-footer .contacto {
  width: 31%;
  padding-right: 40px;
}
.caja-footer .box-footer .contacto #contacto {
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
}
.caja-footer .box-footer .contacto ul {
  list-style: none;
}
.caja-footer .box-footer .contacto ul li a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=main.css.map */
