.flex-row{
    @include flex-row;
}
section {
    .cortes {
        text-align: center;
        font-family: $mainFont;
        font-weight: $fontRegular;
        font-size: $textXlg;
        padding-top: 30px;
    
        @include mobile {
            font-weight: $fontRegular;
        }
    }

    .lineas {
        border-top: 1px solid rgba(92, 90, 90, 0.493);
        height: 2px;
        width: 100%;
        padding: 0;
        margin: 10px auto 0 auto;
        padding-bottom: 20px;
    }
}

.caja-fotos {
    .img-grid {
        .container {
            .row {
                @include mobile {
                    flex-direction: column;
                }
                .col {
                    @include mobile{
                        @include flex-center;
                    }
                    .img-info {
                        width: 100%;
                        @include mobile {
                            width: 70%;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

.caja-suscripcion {
    @include flex-center;
    width: 100%;
    padding-top: 30px;

    .cont-suscripcion {
        @include flex-row;
        justify-content: space-between;
        width: 83%;
        padding-top: 30px;
        background-color: $secondaryColor;

        .texto-suscripcion {
            width: 52%;
            padding-left: 40px;
            color: white;

            h1 {
                font-family: $mainFont;
                font-weight: $fontBold;
                font-size: $textXl;
                @include mobile {
                    font-size: $textLlg;
                }
            }

            h2 {
                font-family: $mainFont;
                font-weight: $fontLight;
                font-size: $textLlg;
                @include mobile {
                    font-size: $textLg;
                }
            }
        }

        .form-suscripcion {
            width: 40%;
            display: flex;
            align-items: center;

            .suscripcion {
                .row-form {
                    @include flex-row;
                    @include mobile{
                        flex-direction: column;
                    }

                    .mb-3 {
                        #exampleInputName1 {
                            width: 70%;
                        }

                        #exampleInputEmail1 {
                            width: 70%;
                        }


                    }
                }

                #btn-primary {
                    width: 20%;
                    --bs-btn-color: #fff;
                    --bs-btn-bg: #BF2A2A;
                    --bs-btn-border-color: #BF2A2A;
                    --bs-btn-hover-color: #fff;
                    --bs-btn-hover-bg: #D996A7;
                    --bs-btn-hover-border-color: #D996A7;
                    --bs-btn-focus-shadow-rgb: 49, 132, 253;
                    --bs-btn-active-color: #fff;
                    --bs-btn-active-bg: #D996A7;
                    --bs-btn-active-border-color: #D996A7;
                    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                    --bs-btn-disabled-color: #fff;
                    --bs-btn-disabled-bg: #D996A7;
                    --bs-btn-disabled-border-color: #D996A7;

                    @include mobile {
                        width: 50%;
                    }
                }
            }
        }
    }
}

//side menu vertical
.menu-vertical {
    padding-top: 30px;
    width: 18%;

    @include tablet {
        width: 22%;
    }

    @include mobile {
        width: 30%;
    }

    .side-bar {
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 16px;
            li{
                
                &:hover ul{
                    height: auto;
                }
            }
            ul{
                height: 0px;
                overflow: hidden;
                transition: 0.4s;
            }
            a{
                box-sizing: border-box;
                font-family: 'League Spartan', sans-serif;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                color: black;
                display: block;
                width: 100%;
                text-decoration: none;
            }
        }
    }
}

.div-header {
    .cortes-pagina {
        text-align: center;
        font-family: $mainFont;
        font-weight: $fontRegular;
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

//pagina error
.white {
    height: 300px;
    display: flex;
    justify-content: center;

    .error {
        h1 {

            color: rgb(224, 224, 224);
            font-size: 18em;
        }
    }
}

.grey {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    height: 200px;

    .align{
        .txt{
            text-align: center;
            color: rgb(145, 144, 144);
        }
    
        .btn-secondary{
            width: 30%;
        }
    }

}