//Grid I index
.contenedor-info {
    background-color: #03658C;

    .flex {
        @include flex-center;

        .grid-1 {
            width: 100%;
            display: grid;

            .img-contenedor{
                @include flex-center;
                #cuotas,
                #envio,
                #metodos {
                    object-fit: contain;
                    width: 60%;
                }
            }

        }

        .grid-template-columns-rows-1 {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }

    }
}

//Grid II y III index
.contenedor-grid {
    @include flex-center;
    align-items: center;
    width: 10 0%;
    padding-left: 40px;

    .grid {
        display: grid;
        width: 90%;

        .grids {
            @include flex-center;

            .slide-content {
                .card {
                    width: 90%;
                    height: 500px;
                    border-radius: 2%;
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.45);
                    box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.45);
                    @include mobile {
                        height: 470px;
                    }

                    .image-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .card-image {
                            @include flex-center;

                            .foto-producto {
                                padding-top: 25px;
                                object-fit: contain;
                                width: 50%;
                            }
                        }
                    }

                    .card-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .nombre-marca {
                            color: black;
                            font-family: 'League Spartan', sans-serif;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 700;
                            font-size: 1.2em;
                        }

                        .nombre-producto {
                            color: black;
                            font-family: 'League Spartan', sans-serif;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 400;
                            font-size: 1.2em;
                            text-align: center;
                        }
                    }

                    .texto-descripcion {
                        @include flex-center;
                        width: 100%;

                        .descripcion {
                            width: 85%;

                            .descripcion-producto {
                                color: black;
                                font-family: 'League Spartan', sans-serif;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 500;
                                font-size: 0.9em;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .grid-template-columns-rows {
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: 2fr;
        row-gap: 30px;

        @include mobile{
            grid-template-columns: 1fr;
        }
    }
}

//Grid I productos
.contenedor-grid-producto {
    @include flex-center;
    align-items: center;
    padding-top: 30px;
    width: 80%;

    .grid-producto {
        display: grid;
        row-gap: 40px;

        .grids-producto {
            @include flex-center;

            .slide-content-producto {
                @include mobile{
                    width: 70%;
                }
                .card-producto {
                    width: 90%;
                    border-radius: 2%;
                    background-color: white;
                    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
                    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
                    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.56);
                    ;

                    .image-content-producto {
                        width: 100%;

                        .card-image-producto {
                            @include flex-center;

                            #lancome,
                            #gel-avena,
                            #cerave,
                            #cetaphil,
                            #neutrogena,
                            #acf-limpiador,
                            #roche{
                                width: 55%;
                            }

                            #loreal-limpador,
                            #vichy{
                                width: 50%;
                            }

                            #eucerin-s,
                            #loreal-s{
                                width: 50%;
                            }

                            #ruby{
                                width: 53%;
                            }

                            #garnier-s{
                                width: 54%;
                            }

                            #neutrogena-s{
                                width: 56%;
                            }

                            #serum-bio,
                            #veganis,
                            #cetaphil-s,
                            #kalo{
                                width: 60%;
                            }

                            #labial-nyx,
                            #labial-mac,
                            #labial-lancome {
                                width: 57%;
                            }

                            #labial-nyx-2 {
                                width: 57%;
                            }

                            #gloss-maybelline {
                                width: 57%;
                            }

                            #lipglass,
                            #labial-mac-2 {
                                width: 61%;
                            }

                            #mac-mascara,
                            #mac-labial,
                            #mac-mascara-2 {
                                width: 50%;
                            }

                            #mac-labial-2,
                            #mac-corrector {
                                width: 56%;
                            }

                            #mac-rubor {
                                width: 57%;
                            }

                            #mascara-maybelline-waterproof {
                                width: 58%;
                            }

                            #mac-polvo {
                                width: 51%;
                            }

                            #paleta-too-faced,
                            #paleta-natasha,
                            #paleta-nars,
                            #paleta-clarins,
                            #sombra-clarins,
                            #sombra-rem,
                            #paleta-huda-2 {
                                width: 50%;
                            }

                            #paleta-anastasia{
                                width: 50%;
                            }

                            #paleta-huda {
                                width: 83%;
                                }
                                
                                #base-guerlain,
                                #mist-rare,
                                #corrector-tarte,
                                #polvo-huda,
                                #spray-too-faced,
                                #rubor-too-faced,
                                #stick-fenty,
                                #iluminador-rare {
                                    width: 50%;
                                }

                                #rubor-benefit{
                                    width: 46%;
                                }

                                #dr-jart-2,
                                #bruma-roche,
                                #bruma-eucerin,
                                #idraet-1,
                                #idraet-2 {
                                    width: 55%;
                                }

                                #dr-jart,
                                #pixi{
                                    width: 61%;
                                }

                                #bruma-bio{
                                    width: 51%;
                                }

                                #idraet-3{
                                    width: 53%;
                                }
                        }
                    }

                    .card-content-producto {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .nombre-marca-producto {
                            color: black;
                            font-family: 'League Spartan', sans-serif;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 700;
                            font-size: 1.2em;
                            text-align: center;
                        }

                        .nombre-producto-producto {
                            width: 90%;
                            color: black;
                            font-family: 'League Spartan',
                                sans-serif;
                            font-family: 'Montserrat',
                                sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            text-align: center;
                        }
                    }

                    .texto-descripcion {
                        .precio-producto-producto {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .precio-producto {
                                color: black;
                                font-family: 'League Spartan', sans-serif;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                font-size: 20px;
                            }

                            .cantidad-cuotas {
                                color: #f8d58a;
                                font-family: 'League Spartan', sans-serif;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                font-size: 18px;
                            }
                        }
                    }

                    .separador {
                        border: none;
                    }

                }
            }
        }
    }

    .column-row-producto {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 2fr);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile{
            grid-template-columns: 1fr;
        }
    }
}