@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin desktop {
    @media screen and (max-width: 1200px) {
        @content;
        
    }
}

@mixin tablet{
    @media screen and (max-width: 992px){
        @content;
        
    } 
}

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
        
    }
}

@mixin mobile-xs {
    @media screen and (max-width: 450px) {
        @content;        
    }
}