//navbar
#nav-body{
    --bs-bg-opacity: 0;
}
.navbar{
    #cont-fluid{
        background-color: #ffffff;
    justify-content: end;
    .navbar-collapse{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    color: $mainColor;

    ul{
        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
                text-decoration: none;
                color: rgb(110, 110, 110);
            }
        }
    }


    .nav-item{
        padding-right: 80px;
        font-family: $mainFont;
        font-weight: $fontRg;
        text-align: center;
    }
    }
    }
}
  
//navigation paginas
.contenedor-navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    .cont-pages {
        padding-top: 20px;
        nav{
            .pagination{
                .page-item {
                    border: 1px solid rgba(0, 0, 0, 0.288);
                    border-radius: 5%;
                }
                
            }
        }
    }
    
}