//variables globales

//colors
$mainColor: #BF2A2A;
$secondaryColor: #03658C;
$keyColor: black;

//fonts
$mainFont: 'League Spartan', sans-serif
 
'Montserrat', sans-serif;

//sizing
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.2em;
$textLlg: 1.5em;
$textXlg:1.8em;
$textXl: 2.5em;

//font weight
$fontLight: 400;
$fontRegular: 500;
$fontRg: 600;
$fontBold: 700;
